## 숫자형

In [1]:
# x의 y제곱을 나타내는 ** 연산자
a = 3
b = 4
a ** b

81

In [2]:
# 나눗셈 후 나머지를 반환하는 % 연산자
7%3

1

In [3]:
# 나눗셈 후 몫을 반환하는 // 연산자
7 / 4

1.75

## 문자열 자료형

In [4]:
a = "Life is too short, You need Python"
a[3]

'e'

In [5]:
a = "Life ias too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [6]:
a = "Life ias too short, You need Python"
a[0:4]

'Life'

In [7]:
a[0:3]

'Lif'

In [8]:
"I eat %d apples." %3

'I eat 3 apples.'

In [10]:
"I eat %s apples." %"five"

'I eat five apples.'

In [11]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [16]:
"{{ and }}".format()

'{ and }'

In [20]:
name = '김숙자'
age = 50
f'나의 이름은 {name}입니다. 나이는 {age}입니다.나는 내년이면 {age+1}살이 된다.'

'나의 이름은 김숙자입니다. 나이는 50입니다.나는 내년이면 51살이 된다.'

In [21]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

## 리스트 자료형

In [17]:
# [초보자가 범하기 쉬운 리스트 연산 오류]
a = [1, 2, 3]
# >>> a[2] + "hi"
# 이렇게 하면 : TypeError: unsupported operand type(s) for +: 'int' and 'str'

str(a[2]) + "hi"

'3hi'

## 튜플 자료형

## 딕셔너리 자료형

In [14]:
a = ['a', 'c', 'b']
a.sort()
a.reverse()
a

['c', 'b', 'a']

In [15]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [16]:
a = [1, 2, 3]
a.pop(2)
a

[1, 2]

## 집합 자료형

## 불 자료형

## 자료형의 값을 저장하는 공간, 변수