## 숫자형

In [1]:
# x의 y제곱을 나타내는 ** 연산자
a = 3
b = 4
a ** b

81

In [2]:
# 나눗셈 후 나머지를 반환하는 % 연산자
7%3

1

In [3]:
# 나눗셈 후 몫을 반환하는 // 연산자
7 / 4

1.75

## 문자열 자료형

In [4]:
a = "Life is too short, You need Python"
a[3]

'e'

In [5]:
a = "Life ias too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [6]:
a = "Life ias too short, You need Python"
a[0:4]

'Life'

In [7]:
a[0:3]

'Lif'

In [8]:
"I eat %d apples." %3

'I eat 3 apples.'

In [10]:
"I eat %s apples." %"five"

'I eat five apples.'

In [11]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [16]:
"{{ and }}".format()

'{ and }'

In [20]:
name = '김숙자'
age = 50
f'나의 이름은 {name}입니다. 나이는 {age}입니다.나는 내년이면 {age+1}살이 된다.'

'나의 이름은 김숙자입니다. 나이는 50입니다.나는 내년이면 51살이 된다.'

In [21]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

## 리스트 자료형

In [17]:
# [초보자가 범하기 쉬운 리스트 연산 오류]
a = [1, 2, 3]
# >>> a[2] + "hi"
# 이렇게 하면 : TypeError: unsupported operand type(s) for +: 'int' and 'str'

str(a[2]) + "hi"

'3hi'

## 튜플 자료형

## 딕셔너리 자료형

In [14]:
a = ['a', 'c', 'b']
a.sort()
a.reverse()
a

['c', 'b', 'a']

In [15]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [16]:
a = [1, 2, 3]
a.pop(2)
a

[1, 2]

## 집합 자료형

## 불 자료형

## 자료형의 값을 저장하는 공간, 변수

In [19]:
a = [1, 2, 3]
id(a)

2478362607232

# 연습문제

Q1
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

과목	점수
국어	80
영어	75
수학	55

In [24]:
a = (80+75+55)/3
a

70.0

a = 80
>>> b = 75
>>> c = 55
>>> (a+b+c)/3

Q2
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [27]:
13%2

1

Q3
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

※ 문자열 슬라이싱 기법을 사용해 보자.

In [33]:
a = "881120-1068234"

연월일 = a[:6]
숫자 = a[7:]

print(연월일, 숫자)

881120 1068234

Q4
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

>>> pin = "881120-1068234"
※ 문자열 인덱싱을 사용해 보자.

In [34]:
pin = "881120-1068234"
print(pin[7])

1

Q5
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

>>> a = "a:b:c:d"

In [37]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

a = "a:b:c:d"
b = a.replace(":", "#")
print(b)
'a#b#c#d'

Q6
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

※ 리스트의 내장 함수를 사용해 보자.

In [41]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

Q7
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [46]:
a = ['Life', 'is', 'too', 'short']
b = " ".join(a)
b

'Life is too short'

a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)
a 리스트의 각 단어들을 한 문장으로 조립할 때 단어들 사이마다 공백을 넣어 주어야 한다. 1개의 공백문자(" ")를 사용하여 join한다.

Q8
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

※ 더하기(+)를 사용해 보자.

In [50]:
a = (1,2,3)
a = a +(4,)
a

(1, 2, 3, 4)

Q9
다음과 같은 딕셔너리 a가 있다.

>>> a = dict()
>>> a
{}
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

3번째 예를 실행하면 다음과 같은 오류가 발생한다.

>>> a[[1]] = 'python'
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'

    오류가 발생하는 이유는 딕셔너리의 키로는 변하는(mutable) 값을 사용할 수 없기 때문이다. 위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 키로 사용이 가능하다.

Q10
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

>>> a = {'A':90, 'B':80, 'C':70}
※ 딕셔너리의 pop 함수를 사용해 보자.

In [54]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

Q11
a 리스트에서 중복 숫자를 제거해 보자.

>>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [56]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
list(set(a))

[1, 2, 3, 4, 5]

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)     # a 리스트를 집합자료형으로 변환
b = list(aSet)    # 집합자료형을 리스트 자료형으로 다시 변환
print(b)          # [1,2,3,4,5] 출력

Q12
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)

In [58]:
a = b = [1, 2, 3]
a[1] = 4
print(b)
# [1, 4, 3]

[1, 4, 3]